version: '3.1'

services:
  userservice:
    build: .
    ports: 
      - "9000:80"
    depends_on:
      - mongo 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development 

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports: 
      - '27017:27017'
    volumes:
      - ./data/mongo:/data/db